







    


    .my-Experince{
        background: #30252A; 
     position: relative;
         width: 1320px;
     height: 550px;
     display: flex;
     justify-content: center;
     text-align:center;
     
     }
     .ex-container{
         width: 458.67px;
     height: 288px;
     top: 150px;
     left: 193px;
     gap: 0px;
     opacity: 0px;
     position: absolute;
     }
     
     .ex-container h6{
     
     width: 99px;
     height: 24px;
      font-family: Rubik;
     font-size: 18px;
     font-style: italic;
     font-weight: 600;
     line-height: 24px;
     text-align: left;
     
     }
     .ex-container h1{
         width: 322px;
         height: 56px;
         font-family: Rubik;
         font-size: 40px;
         font-weight: 700;
         line-height: 56px;
         text-align: left;
             
     }
     
     
     
     
     .ex-container p{
     
      width: 458.67px;
     height: 168px;
     top: 1537px;
     left: 193px;
     /* gap: 0px; */
     /* opacity: 0px; */
     
         font-family: Rubik;
     font-size: 18px;
     font-weight: 400;
     line-height: 28px;
     text-align: left;
     
     }
     
     .ux-main{
         width: 450px;
         height:392px;
         top: 80px;
         left: 700px;
         gap: 40px;
         position: absolute; 
     }
     .ux-container{
         width: Fixed (504px)px;
     height: Hug (104px)px;
     gap: 40px;
     margin: 40px 0px;
     }
     
     .flex1{
         
         display: flex;
         justify-content: space-between;
         text-align: center;
     }
     
     .flex1 h5{
         font-family: Rubik;
     font-size: 18px;
     font-style: italic;
     font-weight: 700;
     line-height: 24px;
     text-align: left;
     
     }
     
     .flex1 h6{
         font-family: Rubik;
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     /* text-align: right; */
     
     }
     .ux-container h2{
         font-family: Rubik;
     font-size: 32px;
     font-weight: 700;
     line-height: 48px;
     text-align: left;
     top: 20px;
     }
     
    
    
    
    
    
    



@media only screen and (min-width: 200px) and (max-width:600px){

    .my-Experince{
        background: #30252A; 
     position: relative;
         width: 550px;
     height: 736px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align:center;
     
     } 
         
     .ex-container{
        width: 458.67px;
    height: 288px;
    top: 150px;
    left: 193px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    left: 10px;
    top: 10px;
    }
         
 
 .ux-main{
     width: 530px;
     height:392px;
     top: 80px;
     left: 700px;
     gap: 40px;
     position: absolute; 
     left: 0px;
     top: 350px;
     background-color: blueviolet;
     padding:0px 10px;
 }
 

 }